[submodule "Arachne"]
	path = Arachne
	url = https://github.com/PlatformLab/Arachne.git
[submodule "arachne-sosp2017-benchmarks"]
	path = arachne-sosp2017-benchmarks
	url = https://github.com/PlatformLab/arachne-sosp2017-benchmarks.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "ArachnePerfTests"]
	path = ArachnePerfTests
	url = https://github.com/PlatformLab/ArachnePerfTests.git
[submodule "CoreArbiter"]
	path = CoreArbiter
	url = https://github.com/PlatformLab/CoreArbiter.git
[submodule "PerfUtils"]
	path = PerfUtils
	url = https://github.com/PlatformLab/PerfUtils.git
